<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Friends</title>
</head>
<body>
  <div class="friends">
    <% for (var i = 0, ilen = friends.length; i < ilen; i += 1) { %>
      <% var friend = friends[i]; %>
      <div class="friend">
        <ul>
          <li>Name: <%- friend.name %></li>
          <li>Balance: <%- friend.balance %></li>
          <li>Age: <%- friend.age %></li>
          <li>Address: <%- friend.address %></li>
          <li>Image: <img src="<%- friend.picture %>"></li>
          <li>Company: <%- friend.company %></li>
          <li>Email: <a href="mailto:<%- friend.email %>"><%- friend.email %></a></li>
          <li>About: <%- friend.about %></li>
          <% if (friend.tags.length) { %>
            <li>
              Tags:
              <ul>
                <% for (var j = 0, jlen = friend.tags.length; j < jlen; j += 1) { %>
                  <% var tag = friend.tags[i]; %>
                  <li><%- tag %></li>
                <% } %>
              </ul>
            </li>
          <% } %>
          <% if (friend.friends.length) { %>
            <li>
              Friends:
              <ul>
                <% for (var k = 0, klen = friend.friends.length; k < klen; k += 1) { %>
                  <% var fr = friend.friends[i] %>
                  <li><%- fr.name %> (<%- fr.id %>)</li>
                <% } %>
              </ul>
            </li>
          <% } %>
        </ul>
      </div>
    <% } %>
  </div>
</body>
</html>
